		input[type="number"]::-webkit-outer-spin-button,
		input[type="number"]::-webkit-inner-spin-button {
			-webkit-appearance: none;
			margin: 0;
		}
		input[type="number"] {
			-moz-appearance: textfield;
		}

		@media (min-width: 800px) {
			.maxed {
				max-width: 540px;
			}
		}

		h1 {
			text-align: center;
		}

		p.header {
			padding-top: 1.5em;
			text-align: center;
		}

		p.alerttext {
			margin-bottom: 0;
		}

		form {
			margin-bottom: 1.5em;
		}

		input.topmargin {
			margin-top: 1.5em;
		}

		div.generic {
			margin-top: 1.5em;
			width: 100%;
		}

		div.alert {
			margin-bottom: 0;
		}

		div.spinner-border {
			margin-right: 1.5em;
			margin-bottom: 1.5em;
		}

		div.vscroll {
			max-height: 512px;
			overflow-y: auto;
		}

		@keyframes pulsing-text-opacity {
			0% { opacity: 0; }
			50% { opacity: 1; }
			100% { opacity: 0; }
		}
		@-moz-keyframes pulsing-text-opacity {
			0% { opacity: 0; }
			50% { opacity: 1; }
			100% { opacity: 0; }
		}
		@-webkit-keyframes pulsing-text-opacity {
			0% { opacity: 0; }
			50% { opacity: 1; }
			100% { opacity: 0; }
		}

		.pulsing-text {
			-moz-animation: pulsing-text-opacity 2s linear 0s infinite normal;
			-webkit-animation: pulsing-text-opacity 2s linear 0s infinite normal;
			animation: pulsing-text-opacity 2s linear 0s infinite normal;
		}

		hr {
			margin-top: 1.5em;
		}

		.fixhead {
			position: sticky;
			top: 0;
		}

		.iconpadding {
			margin-right: 8px;
		}

		.initials1 {
			font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
			font-size: 24px;
			font-weight: 700;
			text-anchor: middle;
		}

		.initials2 {
			font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
			font-size: 18px;
			font-weight: 400;
			text-anchor: middle;
		}

		.small {
			font-size: 10pt;
		}
