		input[type="number"]::-webkit-outer-spin-button,
		input[type="number"]::-webkit-inner-spin-button {
			-webkit-appearance: none;
			margin: 0;
		}
		input[type="number"] {
			-moz-appearance: textfield;
		}

		@media (min-width: 800px) {
			.maxed {
				max-width: 540px;
			}
		}

		h1 {
			text-align: center;
		}

		h2.center {
			text-align: center;
			margin-bottom:30px;
		}

		p.header {
			padding-top: 1.5em;
			text-align: center;
		}

		p.alerttext {
			margin-bottom: 0;
		}

		p.footer {
			font-size: 8pt;
			margin-right: 1.5em;
			text-align: right;
		}

		form {
			margin-bottom: 1.5em;
		}

		input.topmargin {
			margin-top: 1.5em;
		}

		div.generic {
			margin-top: 1.5em;
			width: 100%;
		}

		div.alert {
			margin-bottom: 0;
		}

		div.spinner-border {
			margin-right: 1.5em;
			margin-bottom: 1.5em;
		}

		div.vscroll {
			max-height: 512px;
			overflow-y: auto;
		}

		@keyframes pulsing-text-opacity {
			0% { opacity: 0; }
			50% { opacity: 1; }
			100% { opacity: 0; }
		}
		@-moz-keyframes pulsing-text-opacity {
			0% { opacity: 0; }
			50% { opacity: 1; }
			100% { opacity: 0; }
		}
		@-webkit-keyframes pulsing-text-opacity {
			0% { opacity: 0; }
			50% { opacity: 1; }
			100% { opacity: 0; }
		}

		.pulsing-text {
			-moz-animation: pulsing-text-opacity 2s linear 0s infinite normal;
			-webkit-animation: pulsing-text-opacity 2s linear 0s infinite normal;
			animation: pulsing-text-opacity 2s linear 0s infinite normal;
		}

		hr {
			margin-top: 1.5em;
		}

		.table {
			margin-bottom: 3em;
		}

		.table th,td {
			text-align: center;
		}

		.fixhead {
			position: sticky;
			top: 0;
		}

		.left-text {
			text-align: left;
		}

		.iconpadding {
			margin-right: 8px;
		}

		.small {
			font-size: 10pt;
		}

		@media (pointer: coarse), (hover: none) {
			[title] {
				position: relative;
				display: inline-flex;
				cursor: pointer;
				justify-content: center;
			}
			[title]:focus::after {
				content: attr(title);
				position: absolute;
				top: 90%;
				color: black;
				background-color: #FFFFCC;
				border: 1px solid;
				white-space: pre;
				font-size: small;
				line-height: 1;
				width: fit-content;
				z-index: 1;
				padding: 3px;
			}
		}

		.leaflet-div-icon {
			background: none !important;
			border: none !important;
		}

		.target-marker {
			background: red;
			border: 1px solid black;
		}

		.mapholder {
			margin-bottom: 1.5em;
			width: 100%;
			height: 256px;
		}
		@media (min-width: 600px) {
			.mapholder {
				height: 512px;
			}
		}

		#map {
			width: 100%;
			height: 100%;
			position: relative;
			margin: 0;
			padding: 0;
			border: 1px solid black;
			border-radius: 3px;
		}

		.initials1 {
			font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
			font-size: 24px;
			font-weight: 700;
			text-anchor: middle;
		}

		.initials2 {
			font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
			font-size: 18px;
			font-weight: 400;
			text-anchor: middle;
		}
